.chatContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.chatMessages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 0 10px;
}

.chatInput{
    display: flex;
    align-items: center;
    width: 100%;
}

.chatName{
    margin: 0;
    padding: 10px;
    background-color: #595252;
}

.sentMessage {
    background-color: #487de6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: fit-content;
    align-self: flex-end;
}

.receivedMessage {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: fit-content;
    align-self: flex-start;
}